@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.novbar_cont {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: xxx-large;
    width: auto;
    color: rgb(255, 255, 255);
    transition: 0.5s linear;
}

.novbar_cont:hover {
    color: rgb(0, 204, 126);
    cursor: pointer;
}

.novbar {
    height: 6.89rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_novbar {
    display: flex;
    position: absolute;
    margin-left: 80rem;
    background-color: rgb(27, 26, 26);
    border-radius: 2rem;
}

a {
    margin: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: large;
    transition: 0.5s linear;
}

a:hover {
    color: rgb(0, 204, 126);
}